@import "../../assets/styles/settings";



.cart-page-wrapper {
    max-width: 1374px;
    margin: 50px auto;

    .content {
        @include grid(20, 2, $align: flex-start, $justify: flex-start);

        .orders-list-wrapper {
            width: 100%;
            background-color: $color-white;
            border-radius: 10px;

            .header {
                padding: 10px;
                @include flex(row, flex-start, space-between);

                .select-all-wrapper {
                    width: 40px;
                    text-align: center;
                }
            }

            .all-orders {
                padding: 10px;

                .product-item {
                    @include grid(10px, 3, $align: flex-start, $justify: flex-start);
                    grid-template-columns: 40px 100px 1fr;

                    .input-wrapper {
                        @include flex(row, center, center);
                        height: 100%;
                    }

                    img {
                        width: 100%;
                    }

                    .description {
                        a {
                            color: darkgray;
                            font-weight: bold;
                        }

                        .counter {
                            float: right;
                            padding: 15px 10px;

                            button {
                                width: 30px;
                                height: 30px;
                                margin: 0 5px;
                            }
                        }

                        .price-wrapper {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}



.checkbox-wrapper-styled * {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.checkbox-wrapper-styled input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper-styled label {
    --size: 25px;
    --shadow: calc(var(--size) * .07) calc(var(--size) * .1);

    position: relative;
    display: block;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    background-color: $color-ad-entrance;
    border-radius: 50%;
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
        0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

.checkbox-wrapper-styled label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * .7);
    height: calc(var(--size) * .7);
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-wrapper-styled label:hover:before {
    width: calc(var(--size) * .55);
    height: calc(var(--size) * .55);
    box-shadow: inset 0 var(--shadow) #ff9d96;
}

.checkbox-wrapper-styled label:active {
    transform: scale(0.9);
}

.checkbox-wrapper-styled .tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: calc(var(--size) * -.05);
    width: calc(var(--size) * .6);
    height: calc(var(--size) * .6);
    margin: 0 auto;
    margin-left: calc(var(--size) * .14);
    transform: rotateZ(-40deg);
}

.checkbox-wrapper-styled .tick_mark:before,
.checkbox-wrapper-styled .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

.checkbox-wrapper-styled .tick_mark:before {
    left: 0;
    bottom: 0;
    width: calc(var(--size) * .1);
    height: calc(var(--size) * .3);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(calc(var(--size) * -.68));
}

.checkbox-wrapper-styled .tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--size) * .1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(calc(var(--size) * .78));
}

.checkbox-wrapper-styled input[type="checkbox"]:checked+label {
    background-color: $color-blue-green;
    box-shadow: 0 var(--shadow) $color-green-lime;
}

.checkbox-wrapper-styled input[type="checkbox"]:checked+label:before {
    width: 0;
    height: 0;
}

.checkbox-wrapper-styled input[type="checkbox"]:checked+label .tick_mark:before,
.checkbox-wrapper-styled input[type="checkbox"]:checked+label .tick_mark:after {
    transform: translate(0);
    opacity: 1;
}