@import "../../assets//styles/settings";

.product-details {
    max-width: 1374px;
    margin: 50px auto;

    h1.name {
        padding: 20px 40px;
        background: linear-gradient(90deg, $color-text-sales-primary, $color-ad-entrance);
        color: $color-is-grey;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    .row {
        @include grid($columns: 2, $size: 1fr);

        h4.price {
            display: inline-block;
            padding: 20px 40px;
            background: linear-gradient(90deg, $color-ad-entrance, $color-grey-text);
            color: $color-is-grey;
            border-radius: 10px;
            margin: 20px 0;

            del {
                text-decoration: line-through solid 2px $color-white;
                font-size: 1.2em;
            }

            span {
                font-size: 1.2em;
            }

            u {
                margin-left: 10px;
                background-color: $color-yellow-light;
                border-radius: 10px;
                padding: 5px;
                color: black;
                text-decoration: none;
            }
        }

        .right {
            text-align: right;
            padding-top: 30px;

            ::selection {
                background-color: transparent;
            }

            a.update,
            a.delete,
            a.add-to-cart {
                float: right;
                text-decoration: none;
                text-align: center;
                padding: 20px 40px;
                border-radius: 10px;
                color: $color-blue;
                @include flex(column, center, center);
                width: 50px;

                svg {
                    transform: scale(2);
                    margin-bottom: 10px;
                    cursor: pointer;
                }

                &:hover {
                    background-color: $color-borders-disabled;
                    box-shadow: 0 8px 16px lightgray;
                }
            }

            a.delete {
                color: $color-red;
            }

            a.add-to-cart {
                padding: 20px 50px;
                color: $color-light-green-blue;
                position: relative;
                z-index: 1;

                p {
                    @include flex(row, center, center);
                    position: relative;
                    z-index: 2;

                    span {
                        background-color: $color-light-green-blue;
                        display: inline-block;
                        color: snow;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        border-radius: 5px;


                        &.decrement {
                            background-color: $color-borders-brand;
                        }

                        &:hover {
                            background-color: $color-orange-medium;
                        }

                        &:active {
                            transform: scale(0.9);
                        }
                    }
                }
            }

        }
    }

    .row {
        margin: 50px 0;
        @include grid(20px, 2, 1, 1fr, flex-start, flex-start);

        .images {
            border-radius: 10px;
            object-fit: cover;

            .slider {
                li {
                    img {
                        height: 350px;
                    }
                }
            }
        }

        p {
            font-size: 1.2rem;

            button {
                padding: 20px 40px;
                display: inline;
                border-radius: 0 20px;
                float: right;
                margin: 50px 0 50px 50px;
                color: $color-controls-bg-cta-hover;
                background-color: $color-dark-text;
                font-size: 1em;
                font-weight: bold;

                svg {
                    margin-right: 20px;
                    transform: scale(1.5);
                }
            }
        }
    }

}