// COLORS
$color-ad-entrance: #ff0036;
$color-amber: #fdbd34;
$color-black: #000;
$color-blue: #34a3fc;
$color-blue-green: #33c58c;
$color-blue-light: #4dc0f6;
$color-blue-link: #2e9cc3;
$color-carousel-active: #e62e04;
$color-coral: #fff5f5;
$color-dark-blue: #0a0062;
$color-dark-blue-link: #0058dd;
$color-dark-text: #333;
$color-dark-text-hover: #666;
$color-denim-blue: #4a90e2;
$color-flesh: #ffefe5;
$color-green-lime: #a4c739;
$color-grey: #f2f2f2;
$color-grey-average: #e9e9e9;
$color-grey-border: #e8e8e8;
$color-grey-border-light: #eee;
$color-grey-dark: rgba(0, 0, 0, .12);
$color-grey-dark-text: #ccc;
$color-grey-light: #fafafa;
$color-grey-light-background: rgba(0, 0, 0, .04);
$color-grey-medium: #f9f9f9;
$color-grey-scarlet: #f2f0ef;
$color-grey-text: #999;
$color-is-grey: #ebebeb;
$color-lavender: #886afd;
$color-light-blue: #3fa6f5;
$color-light-green: #3ddd90;
$color-light-green-blue: #2fc291;
$color-light-grey: #eee;
$color-orange: #f60;
$color-orange-medium: #f90;
$color-orange-text: #c7864d;
$color-pink-light: #fff1f1;
$color-red: #ff4747;
$color-red-light: #ff2654;
$color-red-text: #e62e04;
$color-taupe: #8c8c8c;
$color-white: #fff;
$color-white-background: hsla(0, 0%, 100%, .75);
$color-yellow: #fffb00;
$color-yellow-light: #fffd80;
$color-yellow-light-background: #f4e2cf;
$color-borders-active: #4d4d4d;
$color-borders-brand: #fe2722;
$color-borders-coupons: #f2f2f3;
$color-borders-disabled: #f8fafc;
$color-borders-error: #fe4641;
$color-borders-focused: #6c727e;
$color-borders-hover: #6c727e;
$color-borders-navbar: #de2622;
$color-borders-navbar-button: #b8f05b;
$color-borders-normal: #cdd5df;
$color-borders-normal-with-bg: #e6eaf0;
$color-borders-small-element: #aaadb0;
$color-controls-bg-brand: #fe2722;
$color-controls-bg-cta: #bef550;
$color-controls-bg-cta-disabled: #d4fa96;
$color-controls-bg-cta-hover: #b8f05b;
$color-controls-bg-flash-cta: #ffe45b;
$color-controls-bg-flash-cta-disabled: #fff7d0;
$color-controls-bg-flash-cta-hover: #ffe872;
$color-controls-bg-navbar-button: #e81711;
$color-controls-bg-navbar-button-hover: #de2622;
$color-controls-bg-primary: #f3f6f9;
$color-controls-bg-primary-disabled: #f8f9fb;
$color-controls-bg-primary-hover: #eef2f6;
$color-controls-bg-secondary: #222223;
$color-controls-bg-secondary-disabled: #f8f9fb;
$color-controls-bg-secondary-hover: #444546;
$color-controls-bg-skeleton: #eef2f6;
$color-controls-bg-switch: #aaadb0;
$color-controls-bg-switch-disabled: #ccd0d3;
$color-controls-bg-switch-hover: #888a8d;
$color-controls-bg-transparent-hover: #eef2f6;
$color-controls-bg-white: #fff;
$color-controls-border-stepper: #e6eaf0;
$color-controls-stepper-hover: #eef2f6;
$color-fills-fill-alert: #fe4641;
$color-fills-fill-atention: #fff7d0;
$color-fills-fill-blue: #e7edff;
$color-fills-fill-blue-gray: #f0f4f7;
$color-fills-fill-brand: #fe2722;
$color-fills-fill-delivery: #008930;
$color-fills-fill-grey-01: #fcfcfd;
$color-fills-fill-grey-10: #f8fafc;
$color-fills-fill-grey-200: #4d4d4d;
$color-fills-fill-loyalty: #9455ff;
$color-fills-fill-promo: #ffe600;
$color-fills-fill-sales: #fff0e6;
$color-fills-fill-sku-disabled: #ebebed;
$color-fills-fill-success: #33c83d;
$color-fills-fill-white: #fff;
$color-icon-bg-icon: #f8fafc;
$color-icon-bg-icon-darker: #e6eaf0;
$color-icon-alert: #fe4641;
$color-icon-brand: #fe2722;
$color-icon-contrast: #fff;
$color-icon-contrast-disabled: #a0a0ab;
$color-icon-contrast-invariably: #fff;
$color-icon-contrast-inverse: #18181b;
$color-icon-coupons: #486bdb;
$color-icon-delivery-dark: #33bd59;
$color-icon-delivery-light: #00ad30;
$color-icon-link: #547dff;
$color-icon-loyalty-primary: #9455ff;
$color-icon-loyalty-secondary: #c8a8ff;
$color-icon-primary: #18181b;
$color-icon-primary-disabled: #a0a0ab;
$color-icon-primary-invariably: #18181b;
$color-icon-primary-inverse: #fff;
$color-icon-profile: #ffb800;
$color-icon-sales-dark: #ff8126;
$color-icon-sales-light: #ff6c02;
$color-icon-secondary: #6c727e;
$color-icon-secondary-disabled: #d1d1d6;
$color-icon-secondary-invariably: #6c727e;
$color-icon-success: #33c83d;
$color-icon-tretiary: #a0a0ab;
$color-icon-tretiary-disabled: #d6d6db;
$color-icon-tretiary-invariably: #a0a0ab;
$color-surface-brand: #fe2722;
$color-surface-primary: #fff;
$color-text-coupons-text-coupons-primary: #2654e5;
$color-text-coupons-text-coupons-primary-inverse: #18181b;
$color-text-coupons-text-coupons-secondary: #547dff;
$color-text-coupons-text-coupons-secondary-inverse: #a0a0ab;
$color-text-alert: #fe4641;
$color-text-brand: #fe2722;
$color-text-contrast: #fff;
$color-text-contrast-disabled: #a0a0ab;
$color-text-contrast-invariably: #fff;
$color-text-contrast-inverse: #18181b;
$color-text-delivery: #00ad94;
$color-text-link: #547dff;
$color-text-loyalty: #9455ff;
$color-text-primary: #18181b;
$color-text-primary-disabled: #a0a0ab;
$color-text-primary-invariably: #fff;
$color-text-primary-inverse: #18181b;
$color-text-sales-primary: #ff6c02;
$color-text-sales-secondary: #ff8126;
$color-text-secondary: #898993;
$color-text-secondary-disabled: #d1d1d6;
$color-text-secondary-invariably: #898993;
$color-text-success: #33c83d;
$color-text-tretiary: #a0a0ab;
$color-text-tretiary-disabled: #d1d1d6;

// ========================================================================================
// SIZES

// $sizes: (
//     $sm: 320px,
//     $md: 768px,
//     $lg: 1024px,
//     $xl: 1440px
// );
// ---- ---- ----
// TO USE THESE:
// font-size: map-get($sizes, $sm);
// ---- ---- ---- ---- ---- ---- ----

$phone: 320px;
$tablet: 768px;
$desktop: 1024px;
$large: 1440px;

// ========================================================================================
// FLEX
@mixin flex($direction: row, $justify: center, $align: center, $gap: 10px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// @include flex();   ->  default values
// @include flex(direction, justify, align, 20px);   ->   specific values
// ========================================================================================
// GRID
@mixin grid($gap: 10px, $columns: false, $rows: false, $size: 1fr, $align: center, $justify: center) {
    display: grid;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;

    @if $columns {
        grid-template-columns: repeat($columns, $size);
    }

    @if $rows {
        grid-template-rows: repeat($rows, $size);
    }
}

// @include grid();   ->  default values
// @include grid(columns:3, $size:100px);   ->   specific values
// ========================================================================================
// ROUNDED CORNERS
@mixin rounded($width, $height, $radius: 50%) {
    width: $width;
    height: $height;
    border-radius: $radius;
}

// @include rounded(100px, 100px);   ->  default values
// @include rounded(50px, 50px, 10px);   ->   specific values
// ========================================================================================
// WAVE EFFECT
@mixin wave($color1, $color2, $deg: false) {
    @if ($deg) {
        background: linear-gradient($deg, $color1, $color2, $color1);
    }

    @else {
        background: linear-gradient(to bottom, $color2, $color1, $color2);
    }

    clip-path: polygon(100% 0, 100% 94%, 88% 98%, 73% 100%, 52% 97%, 37% 91%, 24% 86%, 11% 83%, 0 84%, 0 1%);
}

// ========================================================================================